 {% load static %}
 <!--Footer section starts-->
 <div class="row mt-5">
    <div class="col-md-4 bg-light p-3">
        <h5>Address</h5>
        <hr>
        solanki sankul, wadala-pathardi road,<br>
        indira nagar, near samrat swts,<br>
        nashik-422009, MH.<br>
        <p>contact no. 9039049039</p>
        
    </div>
    <div class="col-md-4 bg-light p-3">
        <h5>Quick links</h5>
        <hr>
        <p><a href="/home" class="anchor">Home</a></p>
        <p><a href="/aboutus" class="anchor">About us</a></p>
        <p><a href="/cart" class="anchor">Cart</a></p>
        <p><a href="/contact" class="anchor">Contact Us</a></p>
        
    </div>
    <div class="col-md-4 bg-light p-3">
        <h5>Connect us</h5>
        <hr>
        <h5><a href="https://www.facebook.com" class="anchor"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="https://www.instagram.com" class="anchor"><i class="bi bi-instagram"></i></a></h5>
        <h5><a href="https://www.twitter.com" class="anchor"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="https://www.linkedin.com" class="anchor"><i class="bi bi-linkedin"></i></a></h5>
       

    </div>
 </div>

 <!--footer section ends-->

</div><!--container div ends-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>