{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <img src="{% static 'assets/images/food.jpg' %}" width="600px" height="500px" />
    </center>
    <h2 align="center">your food will get ready soon in few minutes! please wait</h2>
    <center>
    <h1>Your Order id : {{orderid}}</h1>
    <h3>collect food from counter once it is display on dinein screen. THANK YOU!</h3>
</body>
</html>